<div class="row mb-3">
  <div class="  col-md-6 text-left mb-1">
    <a routerLink="/batches/new">
      <button type="button" name="" id="" class="btn btn-primary">
        <i class="fa fa-plus mr-1"></i> <ng-container i18n="Add batch button|Button for adding new batch@@addBatchButton">Batch</ng-container>
      </button>
    </a>
  </div>
  <div class=" col-md-6">
    <input type="text" class="form-control" placeholder="Search name" i18n-placeholder="Batch search placeholder|Placeholder for name search@@batchNameSearchPlaceholder"
      (keyup)="this.searchTextChanged.next($event.target.value)" #filter>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table  table-hover table-striped">
      <thead class="">
        <tr>
          <th class="text-center" i18n="Column heading batch name|Table heading for column with batch names@@columnHeaderBatchName">Batch
            Name</th>
          <th class="text-center" i18n="Column heading creation date|Table heading for column with creation dates@@columnHeaderBatchCreationDate">Creation
            Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batch of this.page._embedded.batches " style="cursor: pointer" [routerLink]="['/batches', batch.id]"
          routerLinkActive="selected-row">
          <td class="td-break-all"> {{batch.description}}</td>
          <td>{{batch.creationDate | date:'dd.MM.y, HH:mm' }}</td>
          <td>
            <a style="color: white; " class="btn btn-danger mt-1 mb-1 text-nowrap" role="button" (click)="onDeleteBatch(batch)">
              <i class="fa fa-trash mr-1"></i>
              <ng-container i18n="Delete button|Button for deleting a batch@@deleteBatchButton">Delete</ng-container>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot class="bg-light text-dark text-monospace font-weight-bold">
        <td class="text-center" colspan="3">
          <span i18n="Batch list footer|Details about number of found batches@@batchListFooter">
            {this.page.totalCount, plural, =0 {No Batches} =1 {One Batch} other {{{this.page.totalCount}} Batches}}</span>
        </td>
      </tfoot>
    </table>
  </div>
</div>
<div>
  <app-paginator [page]="this.page" (navigationRequested)="onLoadPage($event)"></app-paginator>
</div>
