<div class="row mb-3">
  <div class="col-md-4 mt-2">
    <input type="text" class="" placeholder="Search name ..." (keyup)="this.searchTextChanged.next($event.target.value)"
      #filter>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table table-hover">
      <thead class="">
        <tr>
          <th class="text-center">Batch Name
            <!-- <br>
                <input type="text" class="" placeholder="Search name ..." (keyup)="this.searchTextChanged.next($event.target.value)" #filter> -->
          </th>
          <th class="text-center">Creation Date
            <!-- <br>
                <div class="btn-group-sm">
                  <button type="button" class="btn" [ngClass]="{'btn-primary': this.descendingSortOrder}" (click)="this.onChangeSortOrder(true)">
                    <i class="fa fa-caret-down"></i></button>
                  <button type="button" class="btn" [ngClass]="{'btn-primary': !this.descendingSortOrder}" (click)="this.onChangeSortOrder(false)"><i
                      class="fa fa-caret-up"></i></button> -->
            <!-- </div> -->
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batch of this.page._embedded.batches " style="cursor: pointer" [routerLink]="['/batches', batch.id]"
          routerLinkActive="selected-row">
          <td class="td-break-all"> {{batch.description}}</td>
          <td>{{batch.creationDate | date:'dd.MM.y, HH:mm' }}</td>
          <td>
            <a style="color: white" class="btn btn-danger mt-1 mb-1" role="button" (click)="onDeleteBatch(batch)">Delete</a>
          </td>
        </tr>


        <!-- <tr *ngIf="this.page._embedded.batches.length === 0 ">
              <td> </td>
              <td> </td>
            </tr> -->

      </tbody>
      <tfoot class="bg-light text-dark table-bordered">
        <td class="text-center" colspan="3" *ngIf="this.descriptionFilter.length > 0">
          {{ (this.page._embedded.batches.length === 0 ) ? 'No matching records': 'Matching records: ' +
          this.page.totalCount }}
        </td>
        <td class="text-center" colspan="3" *ngIf="this.descriptionFilter.length == 0">
          {{ (this.page._embedded.batches.length === 0 ) ? 'No records': 'Total records: ' + this.page.totalCount }}
        </td>
      </tfoot>
    </table>
  </div>

</div>



<div>
  <app-paginator [page]="this.page" (navigationRequested)="onLoadPage($event)"></app-paginator>
</div>
