.selected-row{
    outline: none;
    /* border: 3px solid black; */
    background-color:#b8daff !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table thead>tr>th {
    border-top: 0px solid hsl(0, 0%, 87%);
 }
  