<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="this.OnSave()" #form="ngForm">
      <div class="form-group">
        <label for="name">Batch name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="" aria-describedby="helpId" ngModel required #name="ngModel">
        <small *ngIf="name.untouched || name.valid" id="helpId" class="text-muted">A short description of the material that will be uploaded for validation</small>
        <span *ngIf="!name.valid && name.touched" class="text-muted">Please enter a name</span>
        <div class="row mt-3">
            <div class="col-md-12  text-center ">
                <button type="button" class="btn btn-secondary mr-1" (click)="onAbort()">Abort</button>
                <button type="submit" class="btn btn-success" [disabled]="!form.valid" >Create</button>
            </div>
        </div>

      </div>
    </form>
  </div>
  
</div>