<div class="table-responsive-sm">
    <table class="table">
        <thead class="  table-light">
          <tr>
            <th i18n="Table header config name|Describes name property of a configuration@@tableHeaderConfigName">Name</th>
            <th i18n="Table header config fits|Describes fits tool name@@tableHeaderConfigFits">FITS</th>
            <th i18n="Table header config verapdf mode|Describes verapdf mode of configuration@@tableHeaderConfigVeraMode">VeraPDF
              Mode</th>
            <th i18n="Table header config creation date|Describes creation datee@@tableHeaderConfigCreation">Creation Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let config of this.configurationsPage._embedded.configurations">
            <td>{{ config.description }}</td>
            <td i18n>
              {config.fitsEnabled, plural, one {Enabled} other {Disabled}}
            </td>
            <td>
              <span class="capitalize">
                <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'ALWAYS'" i18n="Verapdf always mode|Label for execution mode@@veraPdfAlways">Always</span>
                <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'FITS'" i18n="Verapdf fits mode|Label for execution mode@@veraPdfFits">Fits</span>
                <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'NEVER'" i18n="Verapdf never mode|Label for execution mode@@veraPdfNever">Never</span>
                <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'EXTENSION'" i18n="Verapdf extension mode|Label for execution mode@@veraPdfExtension">Extension</span>
              </span>
            </td>
            <td>{{ config.creationDate | date: "dd.MM.y, HH:mm" }}</td>
            <td>
              <a style="color: white" class="btn btn-primary mt-1 mb-1" role="button" (click)="onSelectConfig(config)" i18n="Select configuration button|Button for selecting validator config@@selectValidationConfigButton">Select</a>
            </td>
          </tr>
        </tbody>
        <tfoot class="bg-light text-dark table-bordered">
          <tr>
            <!-- <td colspan="5" class="text-center" *ngIf="this.descriptionFilter.length > 0">
              {{
              this.configurationsPage._embedded.configurations.length === 0
              ? "No matching records"
              : "Matching records: " + this.configurationsPage.totalCount
              }}
            </td>
            *ngIf="this.descriptionFilter.length == 0"
          -->
            <td colspan="5" class="text-center text-monospace font-weight-bold" >
              {{
              this.configurationsPage._embedded.configurations.length === 0
              ? "No Configurations"
              : this.configurationsPage.totalCount + " Configurations"
              }}
            </td>
          </tr>
        </tfoot>
      </table>

      <div>
        <app-paginator [page]="this.configurationsPage" (navigationRequested)="onLoadPage($event)"></app-paginator>
      </div>
</div>

