
<div class="ui-fluid ">
<p-fileUpload name="file" [url]="this.getHrefForLink(this.selectedBatch,'files')" multiple="multiple" [previewWidth]="0"  [showCancelButton]="true">

  <!-- <ng-template let-file pTemplate='file'>
    <div style=" max-width: 70%; word-wrap: break-word !important;">
        <p >{{file.name}} </p>
        <div>{{file.size }}</div>
        <div><button class="btn btn-warning" icon="fa fa-close" pButton type="button" label="Remove" ></button></div>
        <hr style=" max-width: 90%;">
    </div>
    -->
   
<!-- </ng-template> -->

</p-fileUpload>
</div>