<div class="ui-fluid ">
  <p-messages [(value)]="this.messages"></p-messages>
  <p-fileUpload name="file" [url]="hrefToRel(this.selectedBatch,'files')" multiple="multiple" [previewWidth]="0"
    [showCancelButton]="true"
    (onBeforeUpload)="onBeforeUpload($event)"
    (onUpload)="onFinishUpload($event)"
    (onSelect)="onSelectFiles()"
    (onError)="onUploadError()"
    (onClear)="onClearWithoutFullUpload()">
  </p-fileUpload>
  <p-confirmDialog header="Upload in progress ..." icon="fa fa-warning" [acceptVisible]="false" [rejectLabel]="'OK'"> </p-confirmDialog>

</div>