<div class="ui-fluid ">
  <p-messages [(value)]="this.messages"></p-messages>
  <p-fileUpload #fileUpload name="file" [url]="hrefToRel(this.selectedBatch,'files')" multiple="multiple" [previewWidth]="0"
    [showCancelButton]="false"
    (onBeforeUpload)="onBeforeUpload($event)"
    (onBeforeSend)="onBeforeSend($event)"
    (onUpload)="onFinishUpload($event)"
    (onSelect)="onSelectFiles()"
    (onError)="onUploadError($event)"
    (onClear)="onClearWithoutFullUpload()">
    <ng-template let-file pTemplate='file' pIndex="i">
    <div >
      {{ i}}
        <div class="text-monospace td-break-all" > {{file.name}} </div>
        <small>Size: <strong> {{file.size | fileSize }} </strong></small>
        <div *ngIf="!this.uploadInProgress" class="text-right" style="display: table;">
          <button class="ui-button-secondary mt-2" icon="fa fa-close" pButton type="button"  label="Remove" (click)="remove($event, file)" ></button></div>
        <div>
          <hr >
        </div>
    </div>
   </ng-template>
  </p-fileUpload>
  <p-confirmDialog header="Upload in progress ..." icon="fa fa-warning" [acceptVisible]="true" [acceptLabel]="'Leave'" [rejectLabel]="'Wait'"> </p-confirmDialog>

</div>
