<h5 i18n="Heading create report|Main heading in report creator@@headingCreateReport">Create New Batch Report</h5>
<span i18n="Select configuration|Label asking to select a config for validation@@selectValiationConfig">Select Configuration</span>
<div class="input-group mb-3 mt-2">
  <div class="input-group-prepend" (focus)="onShowConfigurationOverlay()">
    <button class="btn btn-primary" type="button" (click)="onShowConfigurationOverlay()" i18n="Select configuration button|Button for selecting validator config@@selectValidationConfigButton">Select</button>
  </div>
  <input type="text" class="form-control" disabled=true [value]="this.configurationDescription" />
</div>
<div class="text-center">
  <button type="button" class="btn btn-success btn-block" (click)="onCreateValidationOrder()" [disabled]="!this.selecetedConfiguration"
    i18n="Submit validation button|Button for submitting validation order@@submitValidationButton">Create Batch Report</button>
</div>
