<p-confirmDialog header="Unsaved changes ..." icon="fa fa-warning" [acceptVisible]="true" [rejectLabel]="'cancel'">
</p-confirmDialog>
<form (ngSubmit)="this.onSave()" #form="ngForm">
  <fieldset class="form-group">
    <legend>Rule</legend>
    <div class="form-group">
      <label for="name">Rule Name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Enter name ..." aria-describedby="helpId"
        [(ngModel)]="ruleCopy.ruleName" required #name="ngModel" />
      <small *ngIf="name.untouched || name.valid" id="helpId" class="text-muted">A short description for the rule</small>
      <span *ngIf="!name.valid && name.touched" class="text-danger">Please enter a name</span>
    </div>
    <div class="form-group">
      <label for="types" class="control-label">Test</label>
      <div>
        <p-dropdown [options]="this.ruleTypes" [(ngModel)]="this.ruleCopy.type" id="types" name="types"></p-dropdown>
      </div>
      <!-- <small class="text-muted">If active, FITS will be used to identify and validate file formats. Runs before veraPDF is executed.</small> -->
    </div>
    <div class="form-group" *ngIf="ruleCopy.type !== 'fileValid' ">
      <label for="mime" class="control-label">Mime Type</label>
      <input type="text" name="mime" id="mime" class="form-control" placeholder="Enter regular expression ..."
        aria-describedby="helpId" [(ngModel)]="ruleCopy.mime" required #mime="ngModel" />
      <span *ngIf="!mime.valid && mime.touched" class="text-danger">Please enter a mime type</span>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <legend>Error Message Translations</legend>
    <p>Error messages that will be shown to DSpace user</p>
    <div class="form-group">
      <!-- <label for="dspace" class="control-label">Error Message</label> -->
      <div class="form-group" [ngClass]="{'mt-2': i!=0}" *ngFor="let item of ruleCopy.translations | keyvalue; let k = index; trackBy:trackByFn">
        <!-- <h6 class="text-capitalize text-dark font-weight-bold">{{this.resolveHeading(item.key)}}</h6> -->
         <div class="mt-3">
          <label class="text-uppercase text-info" [for]="item.key">{{item.key}}</label>
          <input type="text" [(name)]="item.key" [(id)]="item.key" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="ruleCopy.translations[item.key]" required #name="ngModel">
          <span *ngIf="!name.valid && name.touched" class="text-muted">Please enter a value</span>
        </div>
      </div>
      <!-- <textarea class="form-control" name="dspace" id="dspace" (change)="onDspaceErrorMessageChange($event)" required [(ngModel)]="ruleCopy.errorMessage" #dspace="ngModel"></textarea>
      <ng-container *ngIf="!dspace.valid && dspace.touched; else elseTemplate">
        <span *ngIf="!dspace.valid && dspace.touched" class="text-danger">Please enter a message</span>
      </ng-container>
      <ng-template #elseTemplate>
        <small class="text-muted">Will be shown to user in DSpace.</small>
      </ng-template> -->
    </div>
  </fieldset>

  <div class="form-group" *ngIf="!form.pristine || creationMode">
    <div class="row mt-3">
      <div class=" col-md-6 offset-md-3 text-center ">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid || form.pristine">
          {{ creationMode ? "Create" : "Save changes" }}
        </button>
        <button type="button" class="btn btn-secondary btn-block mr-1" [disabled]="form.pristine && !creationMode"
          (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
