<div class="row">
  <div class="col-md-12 text-center">
    <!-- <h5>Manage Configurations</h5> -->
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>
<div class="row mt-0">
  <div class="col-md-12">
    {{this.router.url == null}}
    <app-configurations-list [hidden]="this.router == null || this.router.url !== '/configurations'"></app-configurations-list>
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet></div>
</div>
