<div *ngIf="filesPage">
  <div class="list-group-item list-group-item-light">
    <div class="input-group">
      <input id="nameText" type="text" class="form-control" placeholder="Search name ..." i18n-placeholder="Placeholder File Name|For file name search@@placeholderFileName"
        (keyup)="this.searchTextChanged.next($event.target.value)" />
    </div>
  </div>
  <ul class="list-group mb-0">
    <li class="list-group-item file-item-text" *ngFor="let file of filesPage._embedded.files">
      <div class="text-monospace">{{ file.fileName }}</div>
      <div>
        <small><span i18n="File size|Description for file size property@@fileSizeDescription">size</span>: <strong>{{ file.size | fileSize }}</strong></small>
      </div>
      <div>
        <small><span i18n="Uploaded on|Description for upload date@@fileUploadedOnDescription">Uploaded on</span>: {{ file.creationDate | date: "dd.MM.y, HH:mm" }}
        </small>
        <span class="float-right">
          <a class="btn btn-link btn-sm btn-danger" (click)="onDeleteFile(file)" style="color:white">
            <i class="fa fa-trash"></i> <span i18n="Delete file button|Button for deleting a file@@buttonDeleteFile">Delete</span>
          </a>
        </span>
      </div>
    </li>
  </ul>
  <li class="list-group-item list-group-item-light mt-0">
    <div class="text-center text-monospace font-weight-bold">
      {filesPage.totalCount,plural, zero {No Files} one {One File} other {{{filesPage.totalCount}} Files} }
    </div>
  </li>
  <div class="mt-3">
    <app-paginator [page]="this.filesPage" (navigationRequested)="onLoadPage($event)"></app-paginator>
  </div>
</div>