<ul class="nav nav-pills nav-justified ">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['info']"  routerLinkActive="active" i18n="Batch info section|Section header for batch infos@@sectionBatchInfo">Info</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['upload']"  routerLinkActive="active" i18n="Batch upload section|Section header for file uploads@@sectionFileUpload">File Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['manage']"  routerLinkActive="active" i18n="Batch file section|Section header for file manager@@sectionFileManager">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['reports']"  routerLinkActive="active" i18n="Batch report section|Section header for report submission@@sectionReportSubmission">Reports</a>
    </li>
  </ul>
  <hr>
  <router-outlet></router-outlet>
