<div class="row mb-3">
  <div class="col-md-4 mt-2">
    <a (click)="onCreateNew()">
      <button type="button" name="" id="" class="btn btn-success">
        <i class="fa fa-plus mr-1"></i> <span i18n="Create configuration button|Button for creating new configuration@@createConfigButton">Create
          Configuration</span>
      </button>
    </a>
  </div>
  <div class="offset-md-4 col-md-4 mt-2">
    <input id="nameText" type="text" class="form-control" placeholder="Search name ..." i18n-placeholder="Config search placeholder|Search config by name@@configSearchPlaceholder"
      (keyup)="this.searchTextChanged.next($event.target.value)" />
  </div>
</div>
<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead class="  table-light">
      <tr>
        <th i18n="Table header config name|Describes name property of a configuration@@tableHeaderConfigName">Name</th>
        <th i18n="Table header config fits|Describes fits tool name@@tableHeaderConfigFits">FITS</th>
        <th i18n="Table header config verapdf mode|Describes verapdf mode of configuration@@tableHeaderConfigVeraMode">VeraPDF
          Mode</th>
        <th i18n="Table header config creation date|Describes creation datee@@tableHeaderConfigCreation">Creation Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let config of this.configurationsPage._embedded.configurations">
        <td>{{ config.description }}</td>
        <td i18n>
          {config.fitsEnabled, plural, one {Enabled} other {Disabled}}
        </td>
        <td>
          <span class="capitalize">
            <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'ALWAYS'" i18n="Verapdf always mode|Label for execution mode@@veraPdfAlways">Always</span>
            <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'FITS'" i18n="Verapdf fits mode|Label for execution mode@@veraPdfFits">Fits</span>
            <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'NEVER'" i18n="Verapdf never mode|Label for execution mode@@veraPdfNever">Never</span>
            <span *ngIf="config._embedded['verapdf-setup'].executionMode.toUpperCase() === 'EXTENSION'" i18n="Verapdf extension mode|Label for execution mode@@veraPdfExtension">Extension</span>
          </span>
        </td>
        <td>{{ config.creationDate | date: "dd.MM.y, HH:mm" }}</td>
        <td>
          <a style="color: white" class="btn link btn-primary btn-block mr-2 mt-1 mb-1 text-nowrap" [routerLink]="config.id + '/general'"
            role="button"><i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i> <span i18n="Modify config button|Button for modifying a config@@modifyConfigButton">Modify</span></a>
          <a style="color: white" class="btn btn-danger btn-block mt-1 mb-1 text-nowrap" role="button" (click)="onDeleteConfig(config)"><i
              class="fa fa-trash mr-1"></i> <span i18n="Delete config button|Button for deleting config@@deleteConfigButton">Delete</span></a>
        </td>
      </tr>
    </tbody>
    <tfoot class="text-monospace font-weight-bold text-dark bg-light table-bordered">
      <tr>
        <td colspan="5" class="text-center" i18n="Config list footer|Details about number of found configs@@configListFooter">
          {this.configurationsPage.totalCount, plural, =0 {No Configurations} =1 {One Configuration} other
          {{{this.configurationsPage.totalCount}} Configurations}}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div>
  <app-paginator [page]="this.configurationsPage" (navigationRequested)="onLoadPage($event)"></app-paginator>
</div>
