<div class="row mb-3">
  <div class="col-md-4 mt-2">
    <a (click)="onCreateNew()">
      <button type="button" name="" id="" class="btn btn-success">
        <i class="fa fa-plus"></i> Create Configuration
      </button>
    </a>
  </div>
  <div class="offset-md-4 col-md-4 mt-2">
    <input
      id="nameText"
      type="text"
      class="form-control"
      placeholder="Search name ..."
      (keyup)="this.searchTextChanged.next($event.target.value)"
    />
  </div>
</div>
<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead class="  table-light">
      <tr>
        <th>Name</th>
        <th>FITS</th>
        <th>VeraPDF Mode</th>
        <th>Creation Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let config of this.configurationsPage._embedded.configurations"
      >
        <td>{{ config.description }}</td>
        <td>{{ config.fitsEnabled === true ? "Enabled" : "Disabled" }}</td>
        <td>
          <span class="capitalize">{{
            config._embedded["verapdf-setup"].executionMode
          }}</span>
        </td>
        <td>{{ config.creationDate | date: "dd.MM.y, HH:mm" }}</td>
        <td>
          <a
            style="color: white"
            class="btn link btn-primary mr-2 mt-1 mb-1 text-nowrap"
            [routerLink]="config.id + '/general'"
            role="button"
            ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modify</a
          >
          <a
            style="color: white"
            class="btn btn-danger mt-1 mb-1 text-nowrap"
            role="button"
            (click)="onDeleteFile(config)"
            ><i class="fa fa-trash"></i> Delete</a
          >
        </td>
      </tr>
    </tbody>
    <tfoot
      class="text-monospace font-weight-bold text-dark bg-light table-bordered"
    >
      <tr>
        <td
          colspan="5"
          class="text-center"
          *ngIf="this.descriptionFilter.length > 0"
        >
          {{
            this.configurationsPage._embedded.configurations.length === 0
              ? "No Matching Configurations"
              : this.configurationsPage.totalCount + " Matching Configurations"
          }}
        </td>
        <td
          colspan="5"
          class="text-center"
          *ngIf="this.descriptionFilter.length == 0"
        >
          {{
            this.configurationsPage._embedded.configurations.length === 0
              ? "No Configurations Found"
              : this.configurationsPage.totalCount + " Configurations"
          }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div>
  <app-paginator
    [page]="this.configurationsPage"
    (navigationRequested)="onLoadPage($event)"
  ></app-paginator>
</div>
