<div class="row">
    <div class="col-md-12">
      <p-confirmDialog header="Unsaved changes ..." icon="fa fa-warning" [acceptVisible]="true" [rejectLabel]="'cancel'"> </p-confirmDialog>
      <form (ngSubmit)="this.onSave()" #form="ngForm">
        <fieldset>
          <legend>General</legend>
          <div class="form-group">
            <label for="name">Configuration Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter name ..." aria-describedby="helpId" [(ngModel)] ='configurationCopy.description' required #name="ngModel">
            <small *ngIf="name.untouched || name.valid" id="helpId" class="text-muted">A short description for the configuration</small>
            <span *ngIf="!name.valid && name.touched" class="text-muted">Please enter a name</span>
          </div>
          <div class="form-group">
            <label for="publicIdentifier">Unique Public Identifier</label>
            <input type="text" name="publicIdentifier" id="publicIdentifier" class="form-control" placeholder="Enter a identifier ..." aria-describedby="helpId" [(ngModel)] ='configurationCopy.publicIdentifier' required #publicIdentifier="ngModel">
            <small *ngIf="publicIdentifier.untouched || publicIdentifier.valid" id="helpId" class="text-muted">A unique identifier for the configuration used by submission clients</small>
            <span *ngIf="!name.valid && name.touched" class="text-muted">Please enter a unique identifier</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>File Information Tool Set (FITS)</legend>
          <div class="form-group">
            <label for="fits" class="control-label">Execute Fits</label>
              <p-inputSwitch [(ngModel)]="configurationCopy.fitsEnabled" id="fits" name="fits"  class="form-control form-control-no-border"></p-inputSwitch>
            <small class="text-muted">If active, FITS will be used to identify and validate file formats. Runs before veraPDF is executed.</small>
          </div>
          <div class="form-group">
              <label for="fitsTimeOut" class="control-label">Execution Time Out (Seconds)</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="configurationCopy.fitsTimeOut" id="fitsTimeOut" name="fitsTimeOut" [min]="1" [max]="1000" required></p-spinner>
              </div>
              <small class="text-muted">The amount of seconds after which the validation process should be aborted.</small>
          </div>
        </fieldset>


        <fieldset >
          <legend>VeraPDF</legend>
          <div class="form-group">
            <label for="execMode" class="control-label">Execution Mode</label>
            <p-radioButton name="execMode" value="always" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode" class="form-control form-control-no-border mb-1" label="Run always (not recommended)" id="execMode"></p-radioButton>
            <p-radioButton name="execMode" value="extension" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode" class="form-control form-control-no-border mb-1" label="Run only when file has .pdf file extension"></p-radioButton>
            <p-radioButton name="execMode" value="fits" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode" class="form-control form-control-no-border mb-5 mb-sm-1" label="Run when a tool in FITS reports mime of type application/pdf"></p-radioButton>
            <p-radioButton name="execMode" value="never" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode" class="form-control form-control-no-border" label="Disabled"></p-radioButton>
          </div>
          <div class="form-group">
              <label for="veraTimeOut" class="control-label">Execution Time Out (Seconds)</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="configurationCopy.veraPdfTimeOut" id="veraTimeOut" name="veraTimeOut" [min]="1" [max]="1000" required></p-spinner>
              </div>
              <small class="text-muted">The amount of seconds after which the validation process should be aborted.</small>
          </div>
          <div class="form-group">
              <label for="veraMaxHeap" class="control-label">Max Heap Size (Megabyte)</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="configurationCopy.veraPdfMaxHeapSize" id="veraMaxHeap" name="veraMaxHeap" [min]="128" [max]="4096" required></p-spinner>
              </div>
              <small class="text-muted">The max heap size when executing veraPDF.</small>
          </div>
        </fieldset>
        <!-- <div class="form-group">
          <label for="invalidate" class="control-label">Invalidate File Report on Tool Errors</label>
          <p-inputSwitch [(ngModel)]="configurationCopy.invalidateOnToolError" id="invalidate" name="invalidate"  class="form-control form-control-no-border"></p-inputSwitch>
          <small class="text-muted">Validation report will list a file as invalid, if veraPDF or FITS fail with an exception while processing.</small>
        </div> -->
        <div class="form-group" *ngIf="!form.pristine">
          <div class="row mt-5">
            <div class=" col-md-4 offset-md-4 text-center ">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid  || form.pristine">Save changes</button>
              <button type="button" class="btn btn-secondary btn-block mr-1" [disabled]="form.pristine" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
