<div class="row">
  <div class="col-md-12">
    <p-confirmDialog header="Unsaved changes ..." i18n-header="Header unseaved changes|Shown when leaving with unsaved changes@@headerConfigEditChanges"
      icon="fa fa-warning" [acceptVisible]="true" [rejectLabel]="'cancel'">
    </p-confirmDialog>
    <form (ngSubmit)="this.onSave()" #form="ngForm">
      <fieldset>
        <legend i18n="General config edit section|Heading for section with general setup@@sectionConfigEditGeneral">General</legend>
        <div class="form-group">
          <label for="name" i18n="Label config nanme|Describes the name property@@labelConfigName">Configuration Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter name ..." i18n-placeholder="Config name placeholder|Shown when no name entered@@configNamePlaceholder"
            aria-describedby="helpId" [(ngModel)]='configurationCopy.description' required #name="ngModel">
          <small *ngIf="name.untouched || name.valid" id="helpId" class="text-muted" i18n="Hint cofiguration name|A hint for the config name input@@configNameHint">A
            short description for the
            configuration</small>
          <span *ngIf="!name.valid && name.touched" class="text-muted" i18n="Error message missing config name|Shown when name is missing@@errorMessageNoConfigName">Please
            enter a name</span>
        </div>
        <div class="form-group">
          <label for="publicIdentifier" i18n="Label config identifier|Label for the config identifier input@@labelConfigIdentifier">Configuration
            Identifier</label>
          <input type="text" name="publicIdentifier" id="publicIdentifier" class="form-control" placeholder="Enter a identifier ..."
            i18n-placeholder="Config identifier placeholder|Shown when no identifier entered@@configIdentifierPlaceholder"
            aria-describedby="helpId" [(ngModel)]='configurationCopy.publicIdentifier' required #publicIdentifier="ngModel">
          <small *ngIf="publicIdentifier.untouched || publicIdentifier.valid" id="helpId" class="text-muted" i18n="Hint config identifier| A hint for config identifier@@configIdentifierHint">A
            unique
            identifier for the configuration used by submission clients</small>
          <span *ngIf="!name.valid && name.touched" class="text-muted" i18n="Error message missing identifier|Shown when unique identifier is missing@@errorMessageNoUniqueIdentifier">Please
            enter a unique identifier</span>
        </div>
      </fieldset>
      <fieldset>
        <legend i18n="Fits execution section|Heading for fits execution config section@@sectionFitsExecution">File
          Information Tool Set
          (FITS)</legend>
        <div class="form-group">
          <label for="fits" class="control-label" i18n="Execute Fits label|Label for fits execution input@@labelExecuteFits">Execute
            Fits</label>
          <p-inputSwitch [(ngModel)]="configurationCopy.fitsEnabled" id="fits" name="fits" class="form-control form-control-no-border"></p-inputSwitch>
          <small class="text-muted" i18n="Hint fits execution|Hint for fits activation@@fitsActivationHint">If active,
            FITS will be used to identify and validate file formats. Runs before
            veraPDF is executed.</small>
        </div>
        <div class="form-group">
          <label for="fitsTimeOut" class="control-label" i18n="Label fits execution timeout|Label for fits timeout input in seconds@@labelFitsTimeOut">Execution
            Time Out (Seconds)</label>
          <div>
            <p-spinner size="10" [(ngModel)]="configurationCopy.fitsTimeOut" id="fitsTimeOut" name="fitsTimeOut" [min]="1"
              [max]="1000" required></p-spinner>
          </div>
          <small class="text-muted" i18n="Hint for timeout|Hint for fits execution timeout input@@fitsTimeOutHint">The
            amount of seconds after which the validation process should be aborted.</small>
        </div>
      </fieldset>
      <fieldset>
        <legend i18n="VeraPDF execution section|Heading for veraPDF execution config section@@sectionVerapdfExecution">VeraPDF</legend>
        <div class="form-group">
          <label for="execMode" class="control-label" i18n="Label verapdf mode|Label describes verapdf execution mode input@@labelVerapdfMode">Execution
            Mode</label>
          <p-radioButton name="execMode" value="always" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode"
            class="form-control form-control-no-border mb-1" label="Run always (not recommended)" i18n-label="Label mode always|Label for verapdf run always mode@@labelVeraModeAlways"
            id="execMode"></p-radioButton>
          <p-radioButton name="execMode" value="extension" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode"
            class="form-control form-control-no-border mb-1" label="Run only when file has .pdf file extension"
            i18n-label="Label mode extension|Label for verapdf extension mode@@labelVeraModeExtension"></p-radioButton>
          <p-radioButton name="execMode" value="fits" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode"
            class="form-control form-control-no-border mb-5 mb-sm-1" label="Run when a tool in FITS reports mime of type application/pdf"
            i18n-label="Label mode fits|Label for verapdf fits mode@@labelVeraModeFits"></p-radioButton>
          <p-radioButton name="execMode" value="never" [(ngModel)]="configurationCopy._embedded['verapdf-setup'].executionMode"
            class="form-control form-control-no-border" label="Disabled" i18n-label="Label mode never|Label for verapdf disabled mode@@labelVeraModeDisabled"></p-radioButton>
        </div>
        <div class="form-group">
          <label for="veraTimeOut" class="control-label" i18n="Label verapdf timeout|Label for execution timeout in seconds input@@labelVerapdfTimeout">Execution
            Time Out (Seconds)</label>
          <div>
            <p-spinner size="10" [(ngModel)]="configurationCopy.veraPdfTimeOut" id="veraTimeOut" name="veraTimeOut"
              [min]="1" [max]="1000" required></p-spinner>
          </div>
          <small class="text-muted" i18n="Hint verapdf timeout|Hint for verapdf exec timeout@@hintVeraExecTimeout">The
            amount of seconds after which the validation process should be aborted.</small>
        </div>
        <div class="form-group">
          <label for="veraMaxHeap" class="control-label" i18n="Label heap size|Describes the max heap for verapdf execution@@labelVerapdfHeap">Max
            Heap Size (Megabyte)</label>
          <div>
            <p-spinner size="10" [(ngModel)]="configurationCopy.veraPdfMaxHeapSize" id="veraMaxHeap" name="veraMaxHeap"
              [min]="128" [max]="4096" required></p-spinner>
          </div>
          <small class="text-muted" i18n="Hint verapdf heap|Hint for the verapdf heap input@@hintVerapdfHeap">The max
            heap size when executing veraPDF.</small>
        </div>
      </fieldset>
      <div class="form-group" *ngIf="!form.pristine">
        <div class="row mt-5">
          <div class=" col-md-4 offset-md-4 text-center ">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid  || form.pristine" 
            i18n="Button config save changes|Button for saving changes@@buttonConfigEditSave">Save
              changes</button>
            <button type="button" class="btn btn-secondary btn-block mr-1" [disabled]="form.pristine" (click)="onCancel()"
              i18n="Button config discard changes|Button for discarding changes@@buttonConfigEditCancel">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>