<div class="row mb-3">
  <div class="col-md-4 mt-2">
    <a [routerLink]="['/users/new']">
      <button type="button" name="" id="" class="btn btn-primary">
        <i class="fa fa-plus"></i> New User
      </button>
    </a>
  </div>
  <div class="offset-md-4 col-md-4 mt-2">
    <input id="nameText" type="text" class="form-control" placeholder="Search name ..."
      (keyup)="this.searchTextChanged.next($event.target.value)" />
  </div>
</div>
<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead class="  table-light">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Creation Date</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of this.usersPage._embedded.users">
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.created | date:'dd.MM.y, HH:mm:ss' }}</td>
        <td>{{ user.lastModified | date:'dd.MM.y, HH:mm:ss' }}</td>
        <td>
          <a style="color: white" class="btn link btn-primary mr-2 mt-1 mb-1 text-nowrap btn-block"
            [routerLink]="user.id " role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Modify</a>
          <a style="color: white" class="btn btn-danger mt-1 mb-1 text-nowrap btn-block" role="button"
            (click)="onDeleteUser(user)"><i class="fa fa-trash"></i> Delete</a>
        </td>
      </tr>
    </tbody>
    <tfoot class="text-monospace font-weight-bold text-dark bg-light table-bordered">
      <tr>
        <td colspan="5" *ngIf="this.userNameFilter.length > 0">
          {{
            this.usersPage._embedded.users.length === 0
              ? "No Matching Users"
              : this.usersPage.totalCount + " Matching Users"
          }}
        </td>
        <td colspan="5" class="text-center" *ngIf="this.userNameFilter.length == 0">
          {{
            this.usersPage._embedded.users.length === 0
              ? "No Users Found"
              : this.usersPage.totalCount + " Users"
          }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div>
  <app-paginator [page]="this.usersPage" (navigationRequested)="onLoadPage($event)"></app-paginator>
</div>
