<div class="row mt-4">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-fill nav-light">
        <li class="nav-item">
          <span class="nav-link" style="cursor: pointer;" (click)="showTranslations = false" [ngClass]="{'active': !showTranslations, 'text-primary': showTranslations}">
            Settings
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link" style="cursor: pointer;" (click)="showTranslations = true" [ngClass]="{'active': showTranslations, 'text-primary': !showTranslations}">
            VeraPDF User Messages
          </span>
        </li>
      </ul>
      <hr>
    </div>
  </div>

<div class="row">
    <div class="col-md-12">
      <p-confirmDialog header="Unsaved changes ..." icon="fa fa-warning" [acceptVisible]="true" [rejectLabel]="'cancel'"> </p-confirmDialog>
      <form (ngSubmit)="this.onSave()" #form="ngForm">
        <fieldset [hidden]="this.showTranslations">
          <legend>Global Settings</legend>
          <div class="form-group">
              <label for="parallelTasks" class="control-label">Parallel Tasks</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="settingsCopy.parallelTasks" id="parallelTasks" name="parallelTasks" [min]="1" [max]="15" required></p-spinner>
              </div>
              <small class="text-muted">The numbert of batch reports to be processed at the same time.</small>
          </div>
          <div class="form-group">
              <label for="threadsPerTask" class="control-label">Threads per Task</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="settingsCopy.threadsPerTask" id="threadsPerTask" name="threadsPerTask" [min]="1" [max]="15" required></p-spinner>
              </div>
              <small class="text-muted">The number of files to be validated in parallel during batch report validation.</small>
          </div>
          <div class="form-group">
              <label for="pageSize" class="control-label">Page Size</label>
              <div>
                  <p-spinner size="10" [(ngModel)]="settingsCopy.pageSize" id="pageSize" name="pageSize" [min]="1" [max]="100" required></p-spinner>
              </div>
              <small class="text-muted">Size of collection pages delivered by REST API.</small>
          </div>
        </fieldset>
        <fieldset [hidden]="!this.showTranslations">
          <legend class="mb-3"> Message Translations</legend>
          <div class="form-group" [ngClass]="{'mt-5': i!=0}" *ngFor="let item of settingsCopy.messageTranslations | keyvalue; let i = index; trackBy:trackByFn;">
            <h6 class="text-capitalize text-dark font-weight-bold">{{this.resolveHeading(item.key)}}</h6>
             <div class="mt-3" *ngFor="let translation of settingsCopy.messageTranslations[item.key] | keyvalue; let k = index; trackBy:trackByFn2;">
              <label class="text-uppercase text-info" [for]="item.key + '-' + k ">{{translation.key}}</label>
              <input type="text" [(name)]="item.key + translation.key " [(id)]="item.key + '-' + k " class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="settingsCopy.messageTranslations[item.key][translation.key]" required #name="ngModel">
              <span *ngIf="!name.valid && name.touched" class="text-muted">Please enter a value</span>
            </div>



          </div>

      </fieldset>

        <div class="form-group" *ngIf="!form.pristine">
          <div class="row mt-5">
            <div class=" col-md-4 offset-md-4 text-center ">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid  || form.pristine">Save changes</button>
              <button type="button" class="btn btn-secondary btn-block mr-1" [disabled]="form.pristine" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
