<div class="row mt-2">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../']" i18n="Breadcrumb configurations|Link ppointing to configurations page@@breadcrumbConfigurations">Configurations</a></li>
        <li class="breadcrumb-item active" *ngIf="this.config">
          {{ this.config.description }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mb-3">
  <div class="col col-md-12">
    <ul class="nav nav-pills nav-justified ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['general']" routerLinkActive="active" i18n="General setup section|Section with general tool setup@@sectionGeneralSetup">
          General Setup
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['namerules']" routerLinkActive="active" i18n="Name rules section|Section with name rule setup@@sectionNameRules">File
          Name Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['fitsrules']" routerLinkActive="active" i18n="Fits result rule section|Section with fits result rules@@sectionFitsResultRules">FITS
          Result Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['verapdf']" routerLinkActive="active" i18n="VeraPDF setup section|Section with veraPDF tool setup@@sectionVerapdfSetup">VeraPDF
          Configuration</a>
      </li>
    </ul>
    <hr />
  </div>
</div>

<router-outlet> </router-outlet>