<div class="row mt-2">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['../']">Configurations</a></li>
        <li class="breadcrumb-item active" *ngIf="this.config">
            {{ this.config.description }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row mb-3">
  <div class="col col-md-12">
    <ul class="nav nav-pills nav-justified ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['general']" routerLinkActive="active">
          General Setup
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['namerules']" routerLinkActive="active"
          >File Name Rules</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['fitsrules']" routerLinkActive="active"
          >FITS Result Rules</a
        >
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['verapdf']" routerLinkActive="active"
            >VeraPDF Configuration</a
          >
        </li>
    </ul>
    <hr />
  </div>
</div>

<router-outlet> </router-outlet>
