
 <footer class="bg-dark fixed-bottom  mt-5">
  <div class="row">

      <!-- <div class="col col-md-12 text-light mb-0 mt-3">
        <div class="ml-5">
          <h5 class="text-uppercase">Contact Details</h5>
          <h6 class="mt-3">Universitätsbibliothek Tübingen</h6>
          <h6>Wilhelmstraße 32</h6>
          <h6>72074 Tübingen</h6>
        </div>


      </div> -->

      <div class="col col-md-12">


          <div class="text-center text-light">© 2019:
              <a href="https://www.ub.uni-tuebingen.de/"> <span class="text-light">ub.uni-tuebingen.de</span> </a>
            </div>

      </div>
  </div>
</footer>
